body {
  background-color: #fff;
}

body #wrap {
  overflow: hidden;
  width: 100%;
  height: 2330px;
  font-family: 'Noto Sans KR';
  margin: 0 auto;
}

body #wrap > header {
  position: fixed;
  width: 100%;
  height: 94px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

body #wrap > header > .all {
  position: relative;
  width: 1290px;
  margin: 0 auto;
}

body #wrap > header > .all > .logo {
  position: absolute;
  left: 0;
  top: 26px;
  width: 229px;
  background-image: url(./../images/logo.png);
  background-size: cover;
}

body #wrap > header > .all > .logo > a {
  display: block;
  height: 50px;
  text-indent: -9999px;
}

body #wrap > header > .all > nav > .bg {
  display: none;
  text-indent: -9999px;
}

body #wrap > header > .all > nav > .gnbc_btn {
  display: none;
}

body #wrap > header > .all > nav > .gnbc_btn > a {
  display: block;
  width: 30px;
  height: 30px;
}

body #wrap > header > .all > nav > .gnbc_btn > a > img {
  display: block;
  width: 100%;
}

body #wrap > header > .all > nav > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 0;
  width: 847px;
  margin-left: -330px;
}

body #wrap > header > .all > nav > .gnb > li {
  width: 121px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(1):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(2):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(3):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(4):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(5):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(6):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li:nth-child(7):hover > a > .bar {
  width: 94px;
  margin-left: -47px;
}

body #wrap > header > .all > nav > .gnb > li > a {
  display: block;
  position: relative;
  height: 94px;
  line-height: 94px;
  text-align: center;
  color: #222;
}

body #wrap > header > .all > nav > .gnb > li > a > .bar {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}

body #wrap > header > .all > nav > .gnb > li:hover > a {
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #3057a5;
}

body #wrap > header > .all > nav > .gnb > li > .lnb {
  display: none;
}

body #wrap > header > .all > nav > .gnb > li > .lnb > li {
  font-weight: 400;
  font-size: 15px;
  background-color: #3057a5;
}

body #wrap > header > .all > nav > .gnb > li > .lnb > li:first-child {
  padding-top: 10px;
}

body #wrap > header > .all > nav > .gnb > li > .lnb > li:last-child {
  padding-bottom: 20px;
}

body #wrap > header > .all > nav > .gnb > li > .lnb > li:hover > a {
  color: white;
}

body #wrap > header > .all > nav > .gnb > li > .lnb > li > a {
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 8px 15px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.7px;
}

body #wrap > header > .all > nav > .sub_btn {
  position: absolute;
  right: 15px;
  top: 37px;
  width: 33px;
}

body #wrap > header > .all > nav > .sub_btn > li {
  height: 4px;
  border-bottom: 3px solid #000;
}

body #wrap > header > .all > nav > .sub_btn > li > a {
  display: block;
  text-indent: -9999px;
}

body #wrap > .box {
  display: none;
  width: 100%;
  height: 100%;
}

body #wrap > .box > .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
}

body #wrap > .box > .shadow > .lightbox {
  width: 1440px;
  margin: 0 auto;
}

body #wrap > .box > .shadow > .lightbox > .cls {
  display: block;
  position: absolute;
  left: 50%;
  top: 100px;
  width: 38px;
  height: 38px;
  margin-left: 665px;
  border: 1px solid #fff;
  z-index: 100;
}

body #wrap > .box > .shadow > .lightbox > .cls img {
  display: block;
  width: 18px;
  height: 18px;
  margin: 9px auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 160px;
  width: 1400px;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li {
  font-size: 20px;
  font-weight: 400;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > a {
  display: block;
  position: relative;
  height: 40px;
  padding: 15px 0 25px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fff;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > a > .bar_2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 20px;
  margin-left: -10px;
  border-top: 3px solid #fff;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > .sub_lnb > li {
  width: 170px;
  text-align: left;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > .sub_lnb > li > a {
  display: block;
  position: relative;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-weight: 400;
  font-size: 13.5px;
  padding-left: 20px;
  -webkit-box-shadow: inset 0 0 0 0 #3b70cc;
          box-shadow: inset 0 0 0 0 #3b70cc;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > .sub_lnb > li > a > .cir {
  display: block;
  position: absolute;
  left: 50%;
  top: 20px;
  width: 6px;
  height: 6px;
  margin-left: -80px;
  border: 1px solid #fff;
  border-radius: 6px;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > .sub_lnb > li:hover > a {
  -webkit-box-shadow: inset 170px 0 0 0 #3b70cc;
          box-shadow: inset 170px 0 0 0 #3b70cc;
}

body #wrap > .box > .shadow > .lightbox > .sub_gnb > li > .sub_lnb > li:hover > a > .cir {
  background-color: #fff;
}

body #wrap > .banner {
  width: 100%;
  margin: 0 auto;
}

body #wrap > .banner > .slides {
  position: relative;
  left: 0;
  top: 94px;
}

body #wrap > .banner > .slides > .slides-container > li {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 2543px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-left: -1271px;
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(1) {
  display: block;
  background-image: url(./../images/bg_1.jpg);
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(2) {
  background-image: url(./../images/bg_2.jpg);
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(3) {
  background-image: url(./../images/bg_3.jpg);
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(4) {
  background-image: url(./../images/bg_4.jpg);
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(5) {
  background-image: url(./../images/bg_5.jpg);
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(1) > .screen {
  margin: -150px 0 0 -520px;
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(2) > .screen {
  margin: -150px 0 0 -520px;
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(3) > .screen {
  margin: -150px 0 0 -610px;
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(4) > .screen {
  margin: -150px 0 0 -520px;
}

body #wrap > .banner > .slides > .slides-container > li:nth-child(5) > .screen {
  margin: -150px 0 0 -630px;
}

body #wrap > .banner > .slides > .slides-container > li > .screen {
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 5em;
  text-align: center;
  letter-spacing: -0.5px;
}

body #wrap > .banner > .slides > .slides-container > li > .screen > .top {
  color: #fff;
  font-size: 3.5em;
}

body #wrap > .banner > .slides > .slides-container > li > .screen > .bottom {
  color: #fff;
  font-size: 2.3em;
}

body #wrap > .banner > .slides > .slides-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 460px 0 0 -101px;
}

body #wrap > .banner > .slides > .slides-pagination > li {
  width: 40.5px;
  background-image: url(./../images/mv-l.png);
  background-position: -40.5px 0;
}

body #wrap > .banner > .slides > .slides-pagination > li.on, body #wrap > .banner > .slides > .slides-pagination > li:hover {
  background-position: 0 0;
}

body #wrap > .banner > .slides > .slides-pagination > li > a {
  display: block;
  height: 4px;
  text-indent: -9999px;
}

body #wrap > .banner > .slides > .slides-navigation {
  display: block;
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-top: 260px;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .banner > .slides > .slides-prev {
  left: 125px;
  background-image: url(./../images/mv-prev.png);
}

body #wrap > .banner > .slides > .slides-next {
  right: 125px;
  background-image: url(./../images/mv-next.png);
}

body #wrap > .main_box {
  position: relative;
}

body #wrap > .main_box > .tel {
  position: absolute;
  left: 50%;
  top: 560px;
  width: 435px;
  height: 75px;
  margin-left: 218px;
  background-color: #1b2644;
}

body #wrap > .main_box > .tel > li:nth-child(2) {
  position: absolute;
  left: 100px;
  top: 28px;
}

body #wrap > .main_box > .tel > li:nth-child(2) > a > p {
  position: absolute;
  left: 55px;
  top: -13px;
  width: 300px;
}

body #wrap > .main_box > .tel > li > a {
  color: rgba(250, 250, 250, 0.7);
  font-size: 18px;
}

body #wrap > .main_box > .tel > li > a > p {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

body #wrap > .main_box > .tel > li > a > img {
  display: block;
  position: absolute;
  left: 30px;
  top: 18px;
}

body #wrap > .main_box > .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 635px;
  margin-left: -652px;
  line-height: 50px;
  text-align: center;
}

body #wrap > .main_box > .txt > li {
  width: 435px;
  height: 230px;
  color: #fff;
  padding-top: 35px;
}

body #wrap > .main_box > .txt > li:nth-child(1) {
  background-color: #35436a;
}

body #wrap > .main_box > .txt > li:nth-child(2) {
  background-color: #3b70cc;
}

body #wrap > .main_box > .txt > li:nth-child(3) {
  background-color: #3057a6;
}

body #wrap > .main_box > .txt > li > strong {
  font-weight: 500;
  font-size: 24px;
}

body #wrap > .main_box > .txt > li > p {
  line-height: 24px;
  color: rgba(250, 250, 250, 0.7);
  font-size: 15px;
}

body #wrap > .main_box > .txt > li > a {
  display: block;
  position: relative;
  left: 50%;
  top: 18px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  margin-left: -75px;
  color: rgba(250, 250, 250, 0.7);
  font-size: 17px;
  border: 1px solid #fff;
}

body #wrap > .main_box > .txt > li > a:hover {
  color: #777;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

body #wrap > .main_box > .txt > li > a:hover > .w_arr {
  background-image: url(./../images/arr_btn.png);
}

body #wrap > .main_box > .txt > li > a > .w_arr {
  display: block;
  position: absolute;
  left: 50%;
  top: 16px;
  width: 5px;
  height: 9px;
  margin-left: 43px;
  background-image: url(./../images/w-arr.png);
  background-size: cover;
}

body #wrap > .cont {
  overflow: hidden;
  position: relative;
  top: 1000px;
  width: 1305px;
  height: 600px;
  margin: 0 auto;
}

body #wrap > .cont > h2 {
  position: absolute;
  left: 50%;
  font-size: 35px;
  font-weight: 500;
  margin-left: -85px;
}

body #wrap > .cont > .cont-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 120px;
}

body #wrap > .cont > .cont-item > .item {
  padding: 0 5px;
}

body #wrap > .cont > .cont-item > .item > ul {
  width: 314px;
  height: 210px;
  line-height: 25px;
  text-align: center;
  padding-top: 40px;
  border: 1px solid #ccc;
}

body #wrap > .cont > .cont-item > .item > ul > .tt {
  font-size: 22px;
  margin-bottom: 38px;
}

body #wrap > .cont > .cont-item > .item > ul > .txt {
  color: #666;
  font-size: 16px;
}

body #wrap > .cont > .cont-item > .item > ul > .link {
  width: 140px;
}

body #wrap > .cont > .cont-item > .item > ul > .link > a {
  display: block;
  position: relative;
  left: 88px;
  top: 26px;
  height: 38px;
  line-height: 38px;
  color: #555;
  font-size: 17px;
  padding-right: 10px;
  border: 1px solid #ccc;
}

body #wrap > .cont > .cont-item > .item > ul > .link > a:hover {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #35436a;
}

body #wrap > .cont > .cont-item > .item > ul > .link > a:hover > .c_arr {
  background-image: url(./../images/w-arr.png);
}

body #wrap > .cont > .cont-item > .item > ul > .link > a > .c_arr {
  position: absolute;
  left: 50%;
  top: 15px;
  width: 5px;
  height: 9px;
  margin-left: 42px;
  background-image: url(./../images/arr_btn.png);
  background-size: cover;
}

body #wrap > .service {
  position: relative;
  left: 0;
  top: 920px;
  width: 100%;
  height: 620px;
  background-position: center -450px;
  background-image: url(./../images/s_bg.jpg);
}

body #wrap > .service > .sv_cont {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 50px;
  width: 1305px;
  height: 510px;
  margin: 0 auto;
}

body #wrap > .service > .sv_cont > h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}

body #wrap > .service > .sv_cont > h2 > span {
  padding-left: 50px;
  font-weight: 300;
}

body #wrap > .service > .sv_cont > .sv_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 50px;
  width: 3915px;
  margin-top: 30px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item:nth-child(3) > ul > li > p {
  width: 380px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li {
  background-color: #35436a;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li:nth-child(2) {
  width: 500px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > img {
  display: block;
  width: 805px;
  height: 427px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > strong {
  color: #c9d7ff;
  font-size: 24px;
  line-height: 150px;
  padding-left: 60px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > p {
  width: 355px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(250, 250, 250, 0.8);
  margin-top: -25px;
  padding-left: 60px;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > a {
  display: block;
  position: relative;
  left: 60px;
  top: 50px;
  width: 124px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  padding-left: 18px;
  border: 1px solid #fff;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > a:hover {
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > a:hover > .s_arr {
  background-image: url(./../images/arr_btn.png);
}

body #wrap > .service > .sv_cont > .sv_item > .s_item > ul > li > a > .s_arr {
  position: absolute;
  left: 105px;
  top: 16px;
  width: 5px;
  height: 9px;
  background-image: url(./../images/w-arr.png);
}

body #wrap > .service > .sv_cont > .sv-navigation {
  display: block;
  position: absolute;
  top: 30px;
  text-indent: -9999px;
}

body #wrap > .service > .sv_cont > .sv-prev {
  left: 50%;
  width: 36px;
  height: 36px;
  margin-left: 579px;
  background-image: url(./../images/s-prev.png);
  background-size: cover;
}

body #wrap > .service > .sv_cont > .sv-next {
  left: 50%;
  width: 35px;
  height: 36px;
  margin-left: 615px;
  background-image: url(./../images/s-next.png);
  background-size: cover;
}

body #wrap > footer {
  position: relative;
  left: 0;
  top: 920px;
  width: 100%;
  height: 190px;
  background-color: #363636;
}

body #wrap > footer > .f_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 20px;
  width: 500px;
  margin-left: -650px;
}

body #wrap > footer > .f_menu > li {
  font-size: 16px;
  padding-right: 30px;
  border-right: 1px solid #4a4a4a;
}

body #wrap > footer > .f_menu > li:last-child {
  border-right-width: 0;
}

body #wrap > footer > .f_menu > li > a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

body #wrap > footer > .f_line {
  height: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4a4a4a;
}

body #wrap > footer > .f_copy {
  width: 1305px;
  margin: 0 auto;
}

body #wrap > footer > .f_copy > li {
  color: #737373;
  font-size: 14px;
  line-height: 24px;
}

body #wrap > footer > .f_copy > li:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -320px;
}

body #wrap > footer > .f_copy > li > img {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -650px;
}

body #wrap > .top {
  position: relative;
  left: 50%;
  top: 50%;
  margin: 707px 0 0 780px;
}
/*# sourceMappingURL=style.css.map */